body {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  color: $white;
  margin: 0;
}

.page-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.box-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
}

.page-descr {
  line-height: 24px;
}

.breadcrumb {
  font-size: 16px;
  padding: 15px;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      &::after {
        margin: 0 0.25rem;
        content: "\232A";
      }

      &:hover {
        color: darken($color: $white, $amount: 15%);
      }
    }
  }

  &__link {
    text-decoration: underline;
  }
}

.span-w600 {
  font-weight: 600;
}
