body {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  color: $white;
  margin: 0;
}

.page-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.page-descr {
  line-height: 24px;
}
