@import "vars";
@import "normalize";
@import "design_style";

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.main {
  background: $main-color;
  min-height: 100vh;
  padding: 10px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__decoration-img {
    max-width: 100%;
    height: auto;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__button-link {
    display: inline-block;
    width: 50%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: solid 1px $white;
    border-radius: 20px;
    padding: 15px;
    transition: all 0.3s;

    &:hover {
      width: 80%;
      background-color: $white;
      color: $main-color;
    }
  }
}

.main-reports {
  display: block;
}

.main-index {
  display: flex;
  align-items: center;
}

.reports {
  padding: 40px 20px;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 3fr);
    gap: 20px;
  }

  &__item {
    padding: 10px 15px 25px;
    border: solid 1px $white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
  }

  &__item-photo {
    width: 100%;
    height: auto;
  }
}

.first-rp {
  padding: 20px 0;

  &__wrapper {
    display: flex;
    gap: 30px;
  }

  &__table {
    overflow: auto;
    width: 50%;
  }

  &__table-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
  }

  &__table-title {
    font-size: 35px;
    margin-bottom: 30px;
  }

  &__table-descr {
    margin-bottom: 20px;
  }

  &__slider {
    width: 50%;
  }

  &__slider-img {
    width: 100%;
    height: auto;
  }
}

.table {
  &__caption {
    caption-side: top;
    padding-bottom: 10px;
    font-weight: 600;
    // text-align: left;
  }

  & table {
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
  }

  & th,
  & td {
    color: $white;
    padding: 5px;
  }

  & td:last-child {
    font-weight: 600;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background-color: $white;
  width: 15px;
  height: 3px;
  border-radius: 5px;
}

@import "media";
