@charset "UTF-8";
*,
*::after,
*::before {
  box-sizing: border-box;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

body {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin: 0;
}

.page-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.box-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
}

.page-descr {
  line-height: 24px;
}

.breadcrumb {
  font-size: 16px;
  padding: 15px;
}
.breadcrumb__list {
  display: flex;
  align-items: center;
}
.breadcrumb__item {
  position: relative;
}
.breadcrumb__item:not(:last-child)::after {
  margin: 0 0.25rem;
  content: "〉";
}
.breadcrumb__item:not(:last-child):hover {
  color: #d9d9d9;
}
.breadcrumb__link {
  text-decoration: underline;
}

.span-w600 {
  font-weight: 600;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.main {
  background: #7d8064;
  min-height: 100vh;
  padding: 10px;
}
.main__wrapper {
  display: flex;
  justify-content: space-between;
}
.main__decoration-img {
  max-width: 100%;
  height: auto;
}
.main__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main__button-link {
  display: inline-block;
  width: 50%;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border: solid 1px #fff;
  border-radius: 20px;
  padding: 15px;
  transition: all 0.3s;
}
.main__button-link:hover {
  width: 80%;
  background-color: #fff;
  color: #7d8064;
}

.main-reports {
  display: block;
}

.main-index {
  display: flex;
  align-items: center;
}

.reports {
  padding: 40px 20px;
}
.reports__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 3fr);
  gap: 20px;
}
.reports__item {
  padding: 10px 15px 25px;
  border: solid 1px #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}
.reports__item-photo {
  width: 100%;
  height: auto;
}

.first-rp {
  padding: 20px 0;
}
.first-rp__wrapper {
  display: flex;
  gap: 30px;
}
.first-rp__table {
  overflow: auto;
  width: 50%;
}
.first-rp__table-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}
.first-rp__table-title {
  font-size: 35px;
  margin-bottom: 30px;
}
.first-rp__table-descr {
  margin-bottom: 20px;
}
.first-rp__slider {
  width: 50%;
}
.first-rp__slider-img {
  width: 100%;
  height: auto;
}

.table__caption {
  caption-side: top;
  padding-bottom: 10px;
  font-weight: 600;
}
.table table {
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
}
.table th, .table td {
  color: #fff;
  padding: 5px;
}
.table td:last-child {
  font-weight: 600;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet {
  background-color: #fff;
  width: 15px;
  height: 3px;
  border-radius: 5px;
}

@media (max-width: 1020px) {
  .main__wrapper {
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }
  .main__text {
    align-items: center;
    gap: 20px;
  }
  .main__title {
    margin-bottom: 20px;
  }
  .main__button {
    width: 100%;
  }
  .main__button-link {
    width: 100%;
  }
  .main__button-link:hover {
    width: 100%;
  }
  .first-rp__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .first-rp__table, .first-rp__slider {
    width: 100%;
  }
}
@media (max-width: 720px) {
  .reports {
    padding: 20px 10px;
  }
  .reports__wrapper {
    grid-template-columns: 1fr;
  }
  .reports__item-decription, .reports__item-btn {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */